<div style="top: 64px;position: relative;">
  <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="space-between center" fxLayoutGap.gt-xs="20px">
    <h1>Registry List</h1>
    <mat-form-field floatLabel="never" style="width: 200px;">
      <!-- <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" />
      <mat-icon matSuffix>search</mat-icon> -->
      <input matInput type="text" placeholder="Filter" (keyup)="applyFilter($event.target.value)" #input />
      <button
        mat-button
        *ngIf="input.value.length > 0"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="input.value = ''; applyFilter(input.value)"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div class="mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="registryId">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Registry ID</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.registryId }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="hn">
        <mat-header-cell *matHeaderCellDef mat-sort-header>HN</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.hn }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="an">
        <mat-header-cell *matHeaderCellDef mat-sort-header>AN</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.an }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>First Name</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.firstName }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.lastName }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="baseDb">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide.xs>BaseDB</mat-header-cell>
        <mat-cell *matCellDef="let row" fxHide.xs>{{ row.baseDb }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="completion">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide.xs>Completion</mat-header-cell>
        <mat-cell *matCellDef="let row" fxHide.xs>{{ row.completion }}%</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row class="element-row" *matRowDef="let row; columns: displayedColumns" (click)="click(row)"></mat-row>
    </mat-table>

    <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
  </div>
  <br />
  <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="20px">
    <button mat-raised-button class="button" color="primary" (click)="create()">Create</button>
    <button mat-raised-button class="button" color="accent" (click)="export()">Export</button>
  </div>
  <br />
  <br />
  <br />
</div>
