<mat-nav-list>
  <a mat-list-item routerLink="/home" (click)="onClose()">
    <mat-icon>home</mat-icon>
    <span class="nav-caption">Home</span>
  </a>
  <a
    mat-list-item
    routerLink="/registry/acsx290-list"
    (click)="onClose()"
    >
    <!-- *ngIf="authMenu.registry.indexOf((user$ | async)?.staff.role) >= 0" -->
    <mat-icon>list</mat-icon>
    <span class="nav-caption">STS</span>
  </a>
  <a
    mat-list-item
    routerLink="/registry/cath-pci50-list"
    (click)="onClose()"
    >
    <!-- *ngIf="authMenu.tools.indexOf((user$ | async)?.staff.role) >= 0" -->
    <mat-icon>list_outline</mat-icon>
    <span class="nav-caption">CathPCI</span>
  </a>
  <a
    mat-list-item
    routerLink="/my-patients"
    (click)="onClose()"
    *ngIf="authMenu.myPatients.indexOf((user$ | async)?.staff.role) >= 0"
  >
    <mat-icon>assignment</mat-icon>
    <span class="nav-caption">My Patients</span>
  </a>
  <a
    mat-list-item
    routerLink="/staff"
    (click)="onClose()"
    *ngIf="authMenu.staff.indexOf((user$ | async)?.staff.role) >= 0"
  >
    <mat-icon>people</mat-icon>
    <span class="nav-caption">Staff</span>
  </a>
  <!-- <a mat-list-item routerLink="/registry/test-form" (click)="onClose()">
    <mat-icon>description</mat-icon>
    <span class="nav-caption">Test Form</span>
  </a> -->
  <a
    mat-list-item
    routerLink="/tools"
    (click)="onClose()"
    *ngIf="authMenu.tools.indexOf((user$ | async)?.staff.role) >= 0"
  >
    <mat-icon>build</mat-icon>
    <span class="nav-caption">Tools</span>
  </a>
  <a mat-list-item routerLink="/about" (click)="onClose()">
    <mat-icon>information</mat-icon>
    <span class="nav-caption">About</span>
  </a>
</mat-nav-list>
