<div class="content">
  <mat-tab-group>
    <mat-tab label="Export XLSX">
      <h1>Sample Export xlsx</h1>
      <button mat-raised-button color="primary" (click)="exportAsXLSX()">Export</button>
    </mat-tab>

    <mat-tab label="Rebuild Tags">
      <h1>Rebuild Tags</h1>
      <h2>1. ACSx290</h2>
      <button mat-raised-button color="primary" (click)="rebuildACSx290Tags()">Rebuild</button>
      <h2>2. CathPci50</h2>
      <button mat-raised-button color="primary" (click)="rebuildCathPci50Tags()">Rebuild</button>
    </mat-tab>

    <mat-tab label="Backup Database">
      <h1>Database</h1>
      <h2>1. Staff</h2>
      <div fxLayout="row" fxLayoutGap="20px">
        <button mat-raised-button color="primary" (click)="exportStaff()">Export</button>

        <div *ngIf="!productionServer" fxLayoutGap="20px">
          <button mat-raised-button color="warn" (click)="deleteStaff()">Delete</button>
          <button mat-raised-button color="accent" (click)="staffFileInput.click()">Import</button>
          <input type="file" hidden (change)="importStaff($event.target.files)" #staffFileInput />
        </div>
      </div>

      <h2>2. Registry</h2>
      <div fxLayout="row" fxLayoutGap="20px">
        <button mat-raised-button color="primary" (click)="exportRegistry()">Export</button>

        <div *ngIf="!productionServer" fxLayoutGap="20px">
          <button mat-raised-button color="warn" (click)="deleteRegistry()">Delete</button>
          <button mat-raised-button color="accent" (click)="registryFileInput.click()">Import</button>
          <input type="file" hidden (change)="importRegistry($event.target.files)" #registryFileInput />
        </div>
      </div>

      <h2>3. ACSx290</h2>
      <div fxLayout="row" fxLayoutGap="20px">
        <button mat-raised-button color="primary" (click)="exportACSx290()">Export</button>

        <div *ngIf="!productionServer" fxLayoutGap="20px">
          <button mat-raised-button color="warn" (click)="deleteACSx290()">Delete</button>
          <button mat-raised-button color="accent" (click)="acsxFileInput.click()">Import</button>
          <input type="file" hidden (change)="importACSx290($event.target.files)" #acsxFileInput />
        </div>
      </div>

      <h2>3. CathPci50</h2>
      <div fxLayout="row" fxLayoutGap="20px">
        <button mat-raised-button color="primary" (click)="exportCathPci50()">Export</button>

        <div *ngIf="!productionServer" fxLayoutGap="20px">
          <button mat-raised-button color="warn" (click)="deleteCathPci50()">Delete</button>
          <button mat-raised-button color="accent" (click)="pciFileInput.click()">Import</button>
          <input type="file" hidden (change)="importCathPci50($event.target.files)" #pciFileInput />
        </div>
      </div>

      <br />
      <br />

      <p style="font-style: italic">Before import you need to delete database manaully!</p>
      <p style="font-style: italic; color: red">**ห้าม logout หลังจากลบฐานข้อมูลแล้วยังไม่ได้กู้คืนเด็ดขาด เพราะจะทำให้เข้าไม่ได้อีก**</p>
    </mat-tab>

    <mat-tab label="Prep ACS data from GLS">
      <button mat-raised-button color="primary" (click)="fileInput.click()">Choose File</button>
      <input type="file" hidden (change)="onFileSelected($event.target.files)" #fileInput />
      {{ file?.name }}
      <br />
      <br />

      <div>
        Preview
        <button mat-raised-button color="accent" (click)="download()" *ngIf="fileContent !== ''">Download</button>
        <br />
        <br />
        <div [innerHTML]="html | noSanitize" style="overflow-x:auto;"></div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
