@import '../registry.component.scss';

reg-input,
reg-select,
reg-datepicker {
  margin-top: 10px;
  margin-bottom: 10px;
}

.subitem-horz {
  margin-left: 30px;
  flex: 1 1 0%;
  box-sizing: border-box;
  display: flex;
}

.subitem-horz2 {
  margin-left: 60px;
  flex: 1 1 0%;
  box-sizing: border-box;
  display: flex;
}

.subitem-horz3 {
  margin-left: 90px;
  flex: 1 1 0%;
  box-sizing: border-box;
  display: flex;
}

.subitem-horz4 {
  margin-left: 120px;
  flex: 1 1 0%;
  box-sizing: border-box;
  display: flex;
}

.button {
  margin: 5px;
}

.speed-dial-container {
  position: fixed;
  bottom: 15px;
  right: 325px;
  z-index: 100;
}

.sidebar-right {
  position: relative;
}

.completion-container {
  width: 250px;
  height: 250px;
  background-color: aqua;
  position: fixed;
  bottom: 0px;
}
