<div class="content" fxLayout="row" fxLayoutGap="20px">
  <div fxFlexOrder="1" fxFlex="200px" fxHide.lt-md></div>
  <div class="table-of-contents" [style.max-height.px]="tocMaxHeight" fxHide.lt-md>
    <ul>
      <li id="titleTOC" (click)="scrollTo('title')" [class.active]="isActive('title')" class="menu-title">
        <span>ACSx 2.9</span>
      </li>
      <li *ngFor="let h of toc">
        <a [id]="h.section + 'TOC'" (click)="scrollTo(h.section)" [class.active]="isActive(h.section)">{{ h.title }}</a>
      </li>
    </ul>
  </div>

  <div scrollSpyElement id="title" fxFlexOrder="0">
    <h1>STS Adult Cardiac Surgery v2.9</h1>
    <section class="section-wrapper" scrollSpyElement id="sectionA">
      <div class="section-title">
        <span>A. Administrative</span>
        <span>{{ formCompletion('A') }}</span>
      </div>
      <div class="section-body">
        <form [formGroup]="formGroupA" #formDirectiveA="ngForm">
          <div fxLayout="column" fxLayout.gt-xs="row" [fxLayoutGap.gt-xs]="gap">
            <reg-input controlName="HN" placeholder="HN" [formGroup]="formGroupA"
              type="text" fxFlex="25"></reg-input>
            <reg-input controlName="AN" placeholder="AN" [formGroup]="formGroupA" type="text" fxFlex="25"></reg-input>

            <!-- <div class="item-radio" style="color: rgba(0,0,0,.54);">
              <span>Sex:</span>
              <mat-radio-group formControlName="sex">
                <mat-radio-button class="example-radio-button" value="Male">Male</mat-radio-button>
                <mat-radio-button class="example-radio-button" value="Female">Female</mat-radio-button>
              </mat-radio-group>
            </div> -->
          </div>
        </form>
      </div>
    </section>

    <section class="section-wrapper" scrollSpyElement id="sectionB">
      <div class="section-title">
        <span>B. Demographics</span>
        <span>{{ formCompletion('B') }}</span>
      </div>
      <div class="section-body">
        <form [formGroup]="formGroupB" #formDirectiveB="ngForm">
          <div fxLayout="column" fxLayout.gt-xs="row" [fxLayoutGap.gt-xs]="gap">
            <reg-input controlName="PatLName" placeholder="Patient Last Name" [formGroup]="formGroupB" type="text"
              fxFlex="33"></reg-input>
            <reg-input controlName="PatFName" placeholder="Patient First Name" [formGroup]="formGroupB" type="text"
              fxFlex="33"></reg-input>
            <reg-input controlName="PatMName" placeholder="Patient Middle Name" [formGroup]="formGroupB" type="text"
              require="false" fxFlex></reg-input>
          </div>

          <div fxLayout="column" fxLayout.gt-xs="row" [fxLayoutGap.gt-xs]="gap">
            <reg-input controlName="DOB" placeholder="Date of Birth" [formGroup]="formGroupB" type="text" fxFlex="33">
            </reg-input>
            <reg-input controlName="Age" placeholder="Patient Age" [formGroup]="formGroupB" type="text" fxFlex="33">
            </reg-input>
            <reg-select controlName="Gender" placeholder="Sex" [formGroup]="formGroupB" [choices]="['Male', 'Female']"
              fxFlex>Please give me sex</reg-select>
          </div>

          <reg-input controlName="SSN" placeholder="National ID Number" [formGroup]="formGroupB" type="text">
          </reg-input>
          <reg-input controlName="PatAddr" placeholder="Street Address" require="false" [formGroup]="formGroupB"
            type="text"></reg-input>

          <div fxLayout="column" fxLayout.gt-xs="row" [fxLayoutGap.gt-xs]="gap">
            <reg-input controlName="PatCity" placeholder="City" [formGroup]="formGroupB" type="text" fxFlex="33">
            </reg-input>
            <reg-input controlName="PatRegion" placeholder="Region" [formGroup]="formGroupB" type="text" fxFlex="33">
            </reg-input>
            <reg-input controlName="PatientCountry" placeholder="Country" [formGroup]="formGroupB" type="text" fxFlex>
            </reg-input>
          </div>

          <reg-select controlName="PermAddr" placeholder="Is This Patient’s Permanent Address" [formGroup]="formGroupB"
            [choices]="['Yes', 'No', 'Unknown']"></reg-select>
        </form>
      </div>
    </section>

    <section class="section-wrapper" scrollSpyElement id="sectionD">
      <div class="section-title">
        <span>D. Risk Factors</span>
        <span>{{ formCompletion('D') }}</span>
      </div>
      <div class="section-body" fxLayout="column">
        <form [formGroup]="formGroupD" #formDirectiveD="ngForm">
          <div fxLayout="column" fxLayout.gt-xs="row" [fxLayoutGap.gt-xs]="gap">
            <reg-input controlName="HeightCM" placeholder="Height (cm)" [formGroup]="formGroupD" type="text"
              fxFlex="25"></reg-input>
            <reg-input controlName="WeightKg" placeholder="Weight (kg)" [formGroup]="formGroupD" type="text"
              fxFlex="25"></reg-input>
            <reg-select controlName="FHCAD" placeholder="Family History of Premature CAD" [formGroup]="formGroupD"
              [choices]="['Yes', 'No', 'Unknown']" fxFlex></reg-select>
          </div>

          <div fxLayout="column" fxLayout.gt-xs="row" [fxLayoutGap.gt-xs]="gap">
            <reg-select controlName="Diabetes" placeholder="Diabetes" [formGroup]="formGroupD"
              [choices]="['Yes', 'No', 'Unknown']" fxFlex></reg-select>
            <reg-select controlName="DiabCtrl" placeholder="Diabetes-Control" [formGroup]="formGroupD"
              [choices]="['None', 'Diet only', 'Oral', 'Insulin', 'Other SubQ', 'Other', 'Unknown']"
              *ngIf="isShowControl('DiabCtrl')" fxFlex="25"></reg-select>
            <reg-select controlName="Dyslip" placeholder="Dyslipidemia" [formGroup]="formGroupD"
              [choices]="['Yes', 'No', 'Unknown']" fxFlex="50"></reg-select>
          </div>

          <reg-select controlName="Dialysis" placeholder="Dialysis" [formGroup]="formGroupD"
            [choices]="['Yes', 'No', 'Unknown']"></reg-select>
          <reg-select controlName="Hypertn" placeholder="Hypertension" [formGroup]="formGroupD"
            [choices]="['Yes', 'No', 'Unknown']"></reg-select>

          <div fxLayout="column" fxLayout.gt-xs="row" [fxLayoutGap.gt-xs]="gap">
            <reg-select controlName="InfEndo" placeholder="Endocarditis" [formGroup]="formGroupD"
              [choices]="['Yes', 'No']" fxFlex></reg-select>
            <reg-select controlName="InfEndTy" placeholder="Endocarditis Type" [formGroup]="formGroupD"
              [choices]="['Treated', 'Active']" *ngIf="isShowControl('InfEndTy')" fxFlex></reg-select>
            <reg-select controlName="InfEndCult" placeholder="Endocarditis Culture" [formGroup]="formGroupD" [choices]="[
                'Culture negative',
                'Strep species',
                'MRSA',
                'MSSA',
                'Coagulase negative staph',
                'Enterococcus species',
                'Gram negative species',
                'Polymicrobial',
                'Mycobacterium (chimera)',
                'Fungal',
                'Other',
                'Unknown'
              ]" *ngIf="isShowControl('InfEndCult')" fxFlex></reg-select>
          </div>

          <reg-select controlName="TobaccoUse" placeholder="Tobacco use" [formGroup]="formGroupD" [choices]="[
              'Never smoker',
              'Current every day smoker',
              'Current some day smoker',
              'Smoker, current status (frequency) unknown',
              'Former smoker',
              'Smoking status unknown'
            ]"></reg-select>
        </form>
      </div>
    </section>

    <section class="section-wrapper" scrollSpyElement id="sectionE">
      <div class="section-title">
        <span>E. Previous Cardiac Interventions</span>
        <span>{{ formCompletion('E') }}</span>
      </div>
      <div class="section-body">
        <form [formGroup]="formGroupE" #formDirectiveE="ngForm">
          <reg-select controlName="PrCVInt" placeholder="Previous Cardiac Interventions" [formGroup]="formGroupE"
            [choices]="['Yes', 'No', 'Unknown']"></reg-select>
          <reg-select controlName="PrCAB" placeholder="Previous coronary artery bypass" [formGroup]="formGroupE"
            [choices]="['Yes', 'No']" *ngIf="isShowControl('PrCAB')"></reg-select>
          <reg-select controlName="PrValve" placeholder="Previous valve procedure" [formGroup]="formGroupE"
            [choices]="['Yes', 'No']" *ngIf="isShowControl('PrValve')"></reg-select>
        </form>
      </div>
    </section>

    <br />
    <br />
    <button mat-raised-button class="button" color="primary" (click)="submit()">{{ mode === 'new' ? 'Create' : 'Update' }}</button>
    <button mat-raised-button class="button" color="warn" (click)="clear()">Clear</button>
    <button mat-raised-button class="button" color="warn" (click)="clearErrors()">Clear Errors</button>
    <button mat-raised-button class="button" color="accent" (click)="downloadJSON()">Download json</button>
    <button mat-raised-button class="button" color="accent" (click)="downloadCSV()">Download csv</button>
    <br />

    <div class="label-text">FormA value: {{ formGroupA.value | json }}</div>
    <br />
    <div class="label-text">FormB value: {{ formGroupB.value | json }}</div>
    <br />
    <div class="label-text">FormD value: {{ formGroupD.value | json }}</div>
    <br />
    <div class="label-text">FormE value: {{ formGroupE.value | json }}</div>
    <br />
    <div class="label-text">Result value: {{ result | json }}</div>
    <br />
    <div class="label-text">Flat Result value: {{ flatResult | json }}</div>
    <br />

    <div class="label-text">FormD status: {{ formGroupD.status }}</div>
    <br />
  </div>
</div>
