@import '../registry.component.scss';

.item {
  // margin: 5px;
  width: 100%;
}

.item-1 {
  // margin: 5px;
  width: 100%;
}

.button {
  margin: 5px;
}

.item-radio {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  place-content: center space-between;
}
