<div class="content" fxLayout="row" fxLayoutGap="20px">
  <div fxFlexOrder="1" fxFlex="200px" fxHide.xs></div>
  <div class="table-of-contents" [style.max-height.px]="tocMaxHeight" fxHide.xs>
    <ul>
      <li id="titleTOC" (click)="scrollTo('title')" [class.active]="isActive('title')" class="menu-title">
        <span>ACSx 2.9</span>
      </li>
      <li>
        <a id="sectionATOC" (click)="scrollTo('sectionA')" [class.active]="isActive('sectionA')">A. Administrative</a>
      </li>
      <li>
        <a id="sectionDTOC" (click)="scrollTo('sectionD')" [class.active]="isActive('sectionD')">D. Risk Factors</a>
      </li>
      <li>
        <a id="sectionETOC" (click)="scrollTo('sectionE')" [class.active]="isActive('sectionE')"
          >E. Previous Cardiac Interventions</a
        >
      </li>
    </ul>
  </div>

  <div scrollSpyElement id="title" fxFlexOrder="0">
    <h1>STS Adult Cardiac Surgery 2.9</h1>
    <section class="section-wrapper" scrollSpyElement id="sectionA">
      <div class="section-title">
        <span>A. Administrative</span>
        <span>{{ formCompletion('A') }}</span>
      </div>
      <div class="section-body">
        <form [formGroup]="formGroupA" #formDirectiveA="ngForm">
          <div fxLayout="column" fxLayout.gt-xs="row">
            <mat-form-field class="item">
              <input type="number" matInput placeholder="HN" formControlName="HN" required />
              <mat-hint>
                <a>Please enter a valid input.</a>
                <mat-icon style="cursor: help;" (click)="clickInfo()">info_outline</mat-icon>
              </mat-hint>
              <mat-error *ngFor="let validation of getValidations('HN')">
                <mat-error *ngIf="isInvalid('HN', validation.type)">
                  <a>{{ validation.message }}</a>
                  <mat-icon style="cursor: help;" (click)="clickInfo()">info_outline</mat-icon>
                </mat-error>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="item">
              <input matInput placeholder="AN" formControlName="AN" required />
              <mat-hint>
                <a>Please enter a valid input.</a>
                <mat-icon style="cursor: help;" (click)="clickInfo()">info_outline</mat-icon>
              </mat-hint>
              <mat-error *ngFor="let validation of getValidations('AN')">
                <mat-error *ngIf="isInvalid('AN', validation.type)">
                  <a>{{ validation.message }}</a>
                  <mat-icon style="cursor: help;" (click)="clickInfo()">info_outline</mat-icon>
                </mat-error>
              </mat-error>
            </mat-form-field>

            <div class="label-text" style="color: rgba(0,0,0,.54);">
              Sex:
              <mat-radio-group class="example-radio-group" formControlName="sex">
                <mat-radio-button class="example-radio-button" value="Male">Male</mat-radio-button>
                <mat-radio-button class="example-radio-button" value="Female">Female</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
        </form>
      </div>
    </section>

    <section class="section-wrapper" scrollSpyElement id="sectionD">
      <div class="section-title">
        <span>D. Risk Factors</span>
        <span>{{ formCompletion('D') }}</span>
      </div>
      <div class="section-body">
        <form [formGroup]="formGroupD" #formDirectiveD="ngForm">
          <div fxLayout="column" fxLayout.gt-xs="row">
            <mat-form-field class="item">
              <input type="number" matInput placeholder="Height (cm)" formControlName="HeightCM" required />
              <mat-hint>
                <a>Please enter a valid input.</a>
                <mat-icon style="cursor: help;" (click)="clickInfo()">info_outline</mat-icon>
              </mat-hint>
              <mat-error *ngFor="let validation of getValidations('HeightCM')">
                <mat-error *ngIf="isInvalid('HeightCM', validation.type)">
                  <a>{{ validation.message }}</a>
                  <mat-icon style="cursor: help;" (click)="clickInfo()">info_outline</mat-icon>
                </mat-error>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="item">
              <input type="number" matInput placeholder="Weight (kg)" formControlName="WeightKg" required />
              <mat-hint>
                <a>Please enter a valid input.</a>
                <mat-icon style="cursor: help;" (click)="clickInfo()">info_outline</mat-icon>
              </mat-hint>
              <mat-error *ngFor="let validation of getValidations('WeightKg')">
                <mat-error *ngIf="isInvalid('WeightKg', validation.type)">
                  <a>{{ validation.message }}</a>
                  <mat-icon style="cursor: help;" (click)="clickInfo()">info_outline</mat-icon>
                </mat-error>
              </mat-error>
            </mat-form-field>
          </div>

          <mat-form-field class="item" style="width: 450px">
            <mat-label>Family History of Premature Coronary Artery Disease</mat-label>
            <mat-hint>
              <mat-icon style="cursor: help;" (click)="clickInfo()">info_outline</mat-icon>
            </mat-hint>
            <mat-select formControlName="FHCAD" required>
              <mat-option value="1">Yes</mat-option>
              <mat-option value="2">No</mat-option>
              <mat-option value="3">Unknown</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="item">
            <mat-label>Diabetes</mat-label>
            <mat-select formControlName="Diabetes" required>
              <mat-option value="1">Yes</mat-option>
              <mat-option value="2">No</mat-option>
              <mat-option value="3">Unknown</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="item-1" *ngIf="isShowControl('DiabCtrl')">
            <mat-label>Diabetes-Control</mat-label>
            <mat-select formControlName="DiabCtrl" required>
              <mat-option value="1">None</mat-option>
              <mat-option value="2">Diet only</mat-option>
              <mat-option value="3">Oral</mat-option>
              <mat-option value="4">Insulin</mat-option>
              <mat-option value="5">Other SubQ</mat-option>
              <mat-option value="6">Other</mat-option>
              <mat-option value="7">Unknown</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="item">
            <mat-label>Dyslipidemia</mat-label>
            <mat-select formControlName="Dyslip" required>
              <mat-option value="1">Yes</mat-option>
              <mat-option value="2">No</mat-option>
              <mat-option value="3">Unknown</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="item">
            <mat-label>Dialysis</mat-label>
            <mat-select formControlName="Dialysis" required>
              <mat-option value="1">Yes</mat-option>
              <mat-option value="2">No</mat-option>
              <mat-option value="3">Unknown</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="item">
            <mat-label>Hypertension</mat-label>
            <mat-select formControlName="Hypertn" required>
              <mat-option value="1">Yes</mat-option>
              <mat-option value="2">No</mat-option>
              <mat-option value="3">Unknown</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="item">
            <mat-label>Endocarditis</mat-label>
            <mat-select formControlName="InfEndo" required>
              <mat-option value="1">Yes</mat-option>
              <mat-option value="2">No</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="item-1" *ngIf="isShowControl('InfEndTy')">
            <mat-label>Endocarditis Type</mat-label>
            <mat-select formControlName="InfEndTy" required>
              <mat-option value="1">Treated</mat-option>
              <mat-option value="2">Active</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="item-1" *ngIf="isShowControl('InfEndCult')">
            <mat-label>Endocarditis Culture</mat-label>
            <mat-select formControlName="InfEndCult" required>
              <mat-option value="1">Culture negative</mat-option>
              <mat-option value="3">Strep species</mat-option>
              <mat-option value="11">MRSA</mat-option>
              <mat-option value="12">MSSA</mat-option>
              <mat-option value="4">Coagulase negative staph</mat-option>
              <mat-option value="5">Enterococcus species</mat-option>
              <mat-option value="9">Gram negative species</mat-option>
              <mat-option value="10">Polymicrobial</mat-option>
              <mat-option value="13">Mycobacterium (chimera)</mat-option>
              <mat-option value="6">Fungal</mat-option>
              <mat-option value="7">Other</mat-option>
              <mat-option value="8">Unknown</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="item" style="width: 400px">
            <mat-label>Tobacco use</mat-label>
            <mat-select formControlName="TobaccoUse" required>
              <mat-option value="1">Never smoker</mat-option>
              <mat-option value="2">Current every day smoker</mat-option>
              <mat-option value="3">Current some day smoker</mat-option>
              <mat-option value="4">Smoker, current status (frequency) unknown</mat-option>
              <mat-option value="5">Former smoker</mat-option>
              <mat-option value="6">Smoking status unknown</mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </div>
    </section>

    <section class="section-wrapper" scrollSpyElement id="sectionE">
      <div class="section-title">
        <span>E. Previous Cardiac Interventions</span>
        <span>{{ formCompletion('E') }}</span>
      </div>
      <div class="section-body">
        <form [formGroup]="formGroupE" #formDirectiveE="ngForm">
          <mat-form-field class="item" style="width: 250px" fxLayout="column">
            <mat-label>Previous Cardiac Interventions</mat-label>
            <mat-select formControlName="PrCVInt" required>
              <mat-option value="1">Yes</mat-option>
              <mat-option value="2">No</mat-option>
              <mat-option value="3">Unknown</mat-option>
            </mat-select>
            <mat-error *ngFor="let validation of getValidations('PrCVInt')">
              <mat-error *ngIf="isInvalid('PrCVInt', validation.type)">
                <a>{{ validation.message }}</a>
                <mat-icon style="cursor: help;" (click)="clickInfo()">info_outline</mat-icon>
              </mat-error>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="item-1" style="width: 250px" fxLayout="column" *ngIf="isShowControl('PrCAB')">
            <mat-label>Previous coronary artery bypass</mat-label>
            <mat-select formControlName="PrCAB" required>
              <mat-option value="1">Yes</mat-option>
              <mat-option value="2">No</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="item-1" style="width: 250px" fxLayout="column" *ngIf="isShowControl('PrValve')">
            <mat-label>Previous valve procedure</mat-label>
            <mat-select formControlName="PrValve" required>
              <mat-option value="1">Yes</mat-option>
              <mat-option value="2">No</mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </div>
    </section>

    <br />
    <br />
    <button mat-raised-button class="item" color="primary" (click)="submit()">Submit</button>
    <button mat-raised-button class="item" color="warn" (click)="clear()">Clear</button>
    <button mat-raised-button class="item" color="warn" (click)="clearErrors()">Clear Errors</button>
    <button mat-raised-button class="item" color="accent" (click)="downloadJSON()">Download json</button>
    <button mat-raised-button class="item" color="accent" (click)="downloadCSV()">Download csv</button>
    <br />

    <div class="label-text">FormA value: {{ formGroupA.value | json }}</div>
    <br />
    <div class="label-text">FormD value: {{ formGroupD.value | json }}</div>
    <br />
    <div class="label-text">FormE value: {{ formGroupE.value | json }}</div>
    <br />
    <div class="label-text">Result value: {{ result | json }}</div>
    <br />
    <div class="label-text">Flat Result value: {{ flatResult | json }}</div>
    <br />

    <div class="label-text">FormD status: {{ formGroupD.status }}</div>
    <br />
  </div>
</div>
