<h1>STS Adult Cardiac Surgery Registry</h1>
<div style="position: relative">
  <!-- It is important to set position of parent container to "relative" -->
  <div loaderId="loader-01">
    <canvas
      baseChart
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [plugins]="barChartPlugins"
      [legend]="barChartLegend"
      [chartType]="barChartType"
      [colors]="barChartColors"
    >
    </canvas>
  </div>

  <!-- set loaderId to something that is different from "master" -->
  <ngx-ui-loader
    loaderId="loader-01"
    [hasProgressBar]="false"
    text="Loading"
    fgsType="chasing-dots"
    overlayColor="rgba(40,40,40,0.2)"
  ></ngx-ui-loader>
</div>
<h6 style="text-align:right"><i>*Not included invalid procedure date</i></h6>
