mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  height: 100%;
}

mat-sidenav-content {
  // top: 76px;
  // position: relative;
  // z-index: 1;
  // // display: block;
  // height: 100%;
  // overflow: auto;
  padding: 10px 2rem 1rem;
}

mat-sidenav {
  // width: 280px;
  position: fixed;
  top: 64px;
  bottom: 0;
  left: 0;
  padding: 0;
  min-width: 280px;
  background-color: #fafafa;
  box-shadow: 6px 0 6px rgba(0, 0, 0, 0.1);
}
