<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation" [(mode)]="navOver" [(opened)]="navOpened">
    <app-sidenav-list [(navMode)]="navOver" (closeSidenav)="sidenav.close()"></app-sidenav-list>
  </mat-sidenav>
  <mat-sidenav-content id="sidenav-content">
    <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

<ngx-ui-loader
  logoUrl="/assets/bdms-logo.png"
  logoSize="50"
  fgsType="three-bounce"
  fgsColor="#cacaca"
  gap="0"
></ngx-ui-loader>
