<form [formGroup]="staffForm" #staffFormDirective="ngForm">
  <fieldset style="border:1px solid #a1a1a1; border-radius:10px; padding: 20px 30px 20px 30px; background-color: white">
    <legend style="color:#757575;">Staff Profile</legend>

    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap.gt-xs="20px">
      <mat-form-field class="item" fxFlex>
        <input matInput formControlName="staffId" placeholder="Staff ID" readonly required />
      </mat-form-field>

      <mat-form-field class="item" fxFlex>
        <input matInput formControlName="title" placeholder="Title" required />
      </mat-form-field>

      <mat-form-field class="item" fxFlex>
        <input matInput formControlName="firstName" placeholder="First Name" required />
      </mat-form-field>

      <mat-form-field class="item" fxFlex>
        <input matInput formControlName="lastName" placeholder="Last Name" required />
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap.gt-xs="20px">
      <mat-form-field class="item" fxFlex>
        <input matInput formControlName="phone" placeholder="Phone" />
      </mat-form-field>

      <mat-form-field class="item" fxFlex>
        <input matInput formControlName="email" placeholder="Email" />
      </mat-form-field>

      <mat-form-field class="item" fxFlex>
        <mat-select formControlName="position" placeholder="Position" required>
          <mat-option [value]="null">--</mat-option>
          <mat-option *ngFor="let choice of avPositions" [value]="choice">{{ choice }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="item" fxFlex>
        <mat-select formControlName="status" placeholder="Status" required>
          <mat-option [value]="null">--</mat-option>
          <mat-option value="Active">Active</mat-option>
          <!-- <mat-option value="Inactive">Inactive</mat-option> -->
        </mat-select>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap.gt-xs="20px">
      <mat-form-field class="item" fxFlex>
        <mat-select formControlName="primaryHospId" placeholder="Primary Hospital" required>
          <mat-option [value]="null">--</mat-option>
          <mat-option *ngFor="let choice of avHospitals" [value]="choice.id">{{ choice.name }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="item" fxFlex>
        <mat-select formControlName="registries" placeholder="Registries" required multiple>
          <mat-option *ngFor="let choice of avRegistries" [value]="choice">{{ choice }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="item" fxFlex>
        <mat-select formControlName="role" placeholder="Role" required>
          <mat-option [value]="null">--</mat-option>
          <mat-option *ngFor="let choice of avRoles" [value]="choice">{{ choice }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="item" fxFlex>
        <mat-select formControlName="permission" placeholder="Permission" required>
          <mat-option [value]="null">--</mat-option>
          <mat-option *ngFor="let choice of avPermissions" [value]="choice">{{ choice }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap.gt-xs="20px">
      <mat-form-field class="item" fxFlex>
        <input matInput formControlName="userName" placeholder="Username" />
      </mat-form-field>

      <mat-form-field class="item" fxFlex>
        <input matInput type="password" formControlName="password" placeholder="Password" />
      </mat-form-field>

      <mat-form-field class="item" fxFlex>
        <input matInput type="password" formControlName="confirmedPassword" placeholder="Confirmed password" />
        <mat-error *ngIf="staffForm.controls['confirmedPassword'].hasError('NoPassswordMatch')">
          Password & Confirmed Password does not match.
        </mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="20px">
      <button mat-raised-button class="button" color="primary" [disabled]="!isStaffFormValid()" (click)="onSubmit()">
        {{ staff === null ? 'Create' : 'Update' }}
      </button>
      <!-- <button mat-raised-button class="button" color="warn" (click)="onDelete()">Delete</button> -->
      <button mat-raised-button class="button" color="accent" (click)="clear()">Clear</button>
    </div>
  </fieldset>
</form>
