<mat-toolbar class="app-header" [color]="color">
  <div fxShow.lt-lg>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div fxLayout fxLayoutGap="10px" style="margin-left: 10px;">
    <!-- <a>{{ title$ | async }}</a> -->
    <img src="assets/bdms-logo.png" alt="Bangkok Hospital" style="width: 32px;">
    <span>{{ title }}</span>
  </div>
  <!-- <div fxFlex fxLayout fxLayoutAlign="flex-end" fxShow fxHide.lt-md> -->
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxShow>
    <ul fxLayout fxLayoutGap="10px" class="navigation-items">
      <li>
        <a routerLink="/auth">{{ !(user$ | async) ? 'Login' : (user$ | async).staff.firstName }}</a>
      </li>
    </ul>
  </div>
  <!-- <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide fxShow.lt-md>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Redial</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voicemail</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu>
  </div> -->
</mat-toolbar>
