<h1>CathPCI Registry</h1>
<div style="position: relative">
  <!-- It is important to set position of parent container to "relative" -->
  <div loaderId="loader-02">
    <canvas
      baseChart
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [plugins]="barChartPlugins"
      [legend]="barChartLegend"
      [chartType]="barChartType"
    >
    </canvas>
  </div>

  <!-- set loaderId to something that is different from "master" -->
  <ngx-ui-loader
    loaderId="loader-02"
    [hasProgressBar]="false"
    text="Loading"
    fgsType="folding-cube"
    overlayColor="rgba(40,40,40,0.2)"
  ></ngx-ui-loader>
</div>
